{{!-- <p>Sender: {{orderDetails.senderName}}</p>
<p>Receiver: {{orderDetails.receiverName}}</p>
<p>Item: {{orderDetails.itemDesc}}</p>
<p>Charge: {{orderDetails.total}}</p>
<form action="edit-order={{orderDetails.orderId}}" method="POST">
	<p>Status: 
	<select id="newStatus" name="newStatus">
		<option value="PROCESSING">PROCESSING</option>
		<option value="IN TRANSIT">IN TRANSIT</option>
		<option value="READY FOR PICKUP">READY FOR PICKUP</option>
		<option value="DELIVERED">DELIVERED</option>
	</select>
	</p>
	<p>EDA: <input type="date" id="newEDA" name="newEDA"></p>
	<p>Origin Branch: <input type="text" id="newOrigin" name="newOrigin"></p>
	<button type="submit">Edit</button>
</form>

<a href="/admin/view-orders">Back</a>
<br> --}}
<h1>EDIT FORM</h1>
<div id="main-body">
	<div class="flex-parent">
		<div class="flex-child">
		<input type="hidden" id="orderId" value="{{orderDetails.orderId}}"> 
		<label for="sender-name">Sender's Name*</label><br>
		<input type="text" name="sender-name" class="input-normal" id="inputSender" placeholder="Sender's Name" value="{{orderDetails.senderName}}" required><br>
		<label for="sender-number">Sender's Mobile Number*</label><br>
		<div class="flex-parent test">
			<p class="number-code">+63</p>
			<input type="tel" name="sender-number" pattern="[9][0-9]{2} [0-9]{3} [0-9]{4}" id="inputSenderNum"
			       class="phone-number" value="{{orderDetails.senderNum}}" placeholder="9XX XXX XXXX" required><br>
		</div>
		</div>
		<div class="flex-child">
		<label for="sender-name">Receiver's Name*</label><br>
		<input type="text" name="sender-name" class="input-normal" id="inputReceiver" placeholder="Receiver's Name" value="{{orderDetails.receiverName}}" required><br>
		<label for="sender-number">Receiver's Mobile Number*</label><br>
		<div class="flex-parent test">
			<p class="number-code">+63</p>
			<input type="tel" name="sender-number" pattern="[9][0-9]{2} [0-9]{3} [0-9]{4}" id="inputReceiverNum"
			       class="phone-number" placeholder="9XX XXX XXXX" value="{{orderDetails.receiverNum}}" required><br>
		</div>
		</div>
	</div>
		<h2>ITEMS</h2>
	<div class="flex-parent">
		<div class="flex-child">
		<div class="flex-parent" id="items-div">
			{{#each orderDetails.items}}
				<div class="{{#if @first}}item-container{{else}}add-item-container{{/if}}">
					<div>
						<h3>Qty.</h3>
						<input type="number" min="0" class="qty-input" placeholder="Qty." value="{{quantity}}"><br>
					</div>
					<div>
						<h3>Item Description</h3>
						<input type="text" class="desc-input" placeholder="Item Description" value="{{description}}">
						<br>
					</div>
					<div>
						<h3>Cost</h3>
						<input type="text" class="cost-input" placeholder="Cost" value="{{price}}">
						<br>
					</div>
					{{#unless @first}}
						<div id="x-button-div">
							<img src="/img/x-circle-fill.svg" class="x-button" /><br>
						</div>
					{{/unless}}
				</div>
			{{/each}}
		</div>
		<div id="add-btn-div">
			<button id="add-btn">+ Add Items</button>
		</div>
		<div class="flex-parent" id="charge-discount-div">
			<div>
			<h3 id="charge-label">Charge</h3>
			<p id="charge-calc">{{orderDetails.initialCharge}}</p>
			</div>
			<div id="discount-div">
			<label for="discount">Discount</label>
			<input type="number" name="discount" min="0" step=".01" id="discount-input" placeholder="Discount" value="{{orderDetails.discount}}">
			</div>
		</div>
		<label for="charge" id="charge-label">Total Charge*</label><br>
		<p id="total-calc">{{orderDetails.total}}</p>
	</div>
		<div class="flex-child">
		<label for="edt">Estimated Day of Transport</label><br>
		<input type="date" name="edt" class="input-normal" id="inputDate" min="" value="{{orderDetails.transDate}}"><br>
		<label for="origin-branch">Origin Branch*</label><br>
        <select name="origin-branch" id="inputBranch" required>
			<option value="">&#40Select Branch&#41</option>
			<option value="Manila" {{#if orderDetails.originBranch.Manila}}selected{{/if}}>Manila</option>
			<option value="Romblon" {{#if orderDetails.originBranch.Romblon}}selected{{/if}}>Romblon</option>
			<option value="Magdiwang" {{#if orderDetails.originBranch.Magdiwang}}selected{{/if}}>Magdiwang</option>
			<option value="Cajidiocan" {{#if orderDetails.originBranch.Cajidiocan}}selected{{/if}}>Cajidiocan</option>
			<option value="San-Fernando" {{#if orderDetails.originBranch.Fernando}}selected{{/if}}>San Fernando</option>
		</select><br>
        <label for="dest-branch">Destination Branch*</label><br>
        <select name="dest-branch" id="inputDestBranch" required>
			<option value="">&#40Select Branch&#41</option>
			<option value="Manila" {{#if orderDetails.destBranch.Manila}}selected{{/if}}>Manila</option>
			<option value="Romblon" {{#if orderDetails.destBranch.Romblon}}selected{{/if}}>Romblon</option>
			<option value="Magdiwang" {{#if orderDetails.destBranch.Magdiwang}}selected{{/if}}>Magdiwang</option>
			<option value="Cajidiocan" {{#if orderDetails.destBranch.Cajidiocan}}selected{{/if}}>Cajidiocan</option>
			<option value="San-Fernando" {{#if orderDetails.destBranch.Fernando}}selected{{/if}}>San Fernando</option>
        </select>
		<div id="btns">
			<button id="cancel-btn">CANCEL</button>
			<input id="save-btn" type="submit" value="SAVE FORM">
		</div>
		</div>
	</div>
</div>

<script>
  function dropDownMenu() {
      var x = document.getElementById("links");
      if (x.style.display === "block") {
      x.style.display = "none";
      } else {
      x.style.display = "block";
      }
  }
</script>