<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>
    <table style="text-align: center;" class="view-table" id="order-popup">
        <tr>
            <td class="popup-td">
                <button class="add-order-btn" onclick="filterOptions()"><i class="material-icons">filter_list</i></button>
            </td>
            <td class="popup-td">
                <div id="controlIdSearch">
                    <form action="/admin/view-orders/control-id">
                        <input type="text" id="controlId" name="controlId" placeholder="Input a control ID eg. MON12345">
                        <button class="add-order-btn"><i class="material-icons">search</i></button>
                    </form>
                </div>
                <div id="hubToHubSearch" style="display: none;">
                    <form action="/admin/view-orders/hub-to-hub">
                        <select id="originSearch" name="originSearch">
                            <option value="Manila">Manila</option>
                            <option value="Romblon">Romblon</option>
                            <option value="Magdiwang">Magdiwang</option>
                            <option value="Cajidiocan">Cajidiocan</option>
                            <option value="San-Fernando">San Fernando</option>
                        </select>
                        to
                        <select id="destSearch" name="destSearch">
                            <option value="Manila">Manila</option>
                            <option value="Romblon">Romblon</option>
                            <option value="Magdiwang">Magdiwang</option>
                            <option value="Cajidiocan">Cajidiocan</option>
                            <option value="San-Fernando">San Fernando</option>
                        </select>
                        <button class="add-order-btn"><i class="material-icons">search</i></button>
                    </form>
                </div>
                <div id="dailySearch" style="display: none;">
                    <form action="/admin/view-orders/daily-net">
                        <input type="date" id="daySearch" name="daySearch">
                        <button class="add-order-btn"><i class="material-icons">search</i></button>
                    </form>
                </div>
                <div id="monthlySearch" style="display: none;">
                    <form action="/admin/view-orders/monthly-net">
                        <input type="month" id="monthSearch" name="monthSearch">
                        <button class="add-order-btn"><i class="material-icons">search</i></button>
                    </form>
                </div>
                <div id="annualSearch" style="display: none;">
                    <form action="/admin/view-orders/annual-net">
                        <input type="text" id="yearSearch" name="yearSearch" placeholder="Year eg. 2000">
                        <button class="add-order-btn"><i class="material-icons">search</i></button>
                    </form>
                </div>
            </td>
            <td class="popup-td">
                <button class="add-order-btn" onclick="window.location.href = '/admin/view-orders';">VIEW ALL</button>
            </td>
            <td class="popup-td" id="net">
                {{#if netIndicator}}
                    {{#if net}}
                        <p>Net: {{net}}</p>
                    {{else}}
                        <p>No order exists!</p>
                    {{/if}}
                {{/if}}
            </td>
            <td class="popup-td"></td>
            <td class="popup-td">
                <button class="add-order-btn" onclick="window.location.href = '/admin/create-order';">+ Add Order</button>
            </td>
        </tr>
        <tr>
            <th class="popup-th">ControlID</th>
            <th class="popup-th">Sender</th>
            <th class="popup-th">Receiver</th>
            <th class="popup-th">Item Description</th>
            <th class="popup-th">Status</th>
            <th class="popup-th">Actions</th>
        </tr>
        {{#each orders}}
        <tr class="view-tr">
            <td class="popup-td">{{this.orderId}}</td>
            <td class="popup-td">{{this.senderName}}</td>
            <td class="popup-td">{{this.receiverName}}</td>
            <td class="popup-td">{{this.itemDesc}}</td>
            <td class="popup-td">{{this.status}}</td>
            <td class="popup-td">
                <button class="action-btn" onclick="viewDetails('{{this.orderId}}')"><i class="material-icons">remove_red_eye</i></button>
                <a href="/admin/edit-order/{{this.orderId}}"><i class="material-icons">create</i></a>
                <button class="action-btn" onclick="confirmDel('{{this.orderId}}')"><i class="material-icons">delete</i></button>
            </td>
        </tr>
        {{/each}}
    </table>
</div>

<div id="popup" style="display: none;" name="detailsPopup" class="detailsPopup">
    <h1 id="orderIdDetails">TRANSACTION #test</h1>
    <input type="hidden" id="hidden-orderid" value="random">
    <input type="hidden" id="hidden-edt" value="random">
    <table class="popup-table">
        <tr class="popup-tr">
            <th class="popup-th">Sender:</th>
            <td class="popup-td" id="senderDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Receiver:</th>
            <td class="popup-td" id="receiverDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Item:</th>
            <td class="popup-td" id="itemDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Charge:</th>
            <td class="popup-td" id="chargeDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Status:</th>
            <td class="popup-td" id="statusDetails">
                <select name="status" id="edit-select">
                    <option value="PROCESSING">PROCESSING</option>
                    <option value="IN TRANSIT">IN TRANSIT</option>
                    <option value="READY FOR PICKUP">READY FOR PICKUP</option>
                    <option value="DELIVERED">DELIVERED</option>
                </select>
            </td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">EDT:</th>
            <td class="popup-td" id="edtDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">EDA:</th>
            <td class="popup-td" id="edaDetails">
                <input type="date" name="eda" id="dateInput"/>
            </td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Origin Branch:</th>
            <td class="popup-td" id="originDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Destination Branch:</th>
            <td class="popup-td" id="destDetails"></td>
        </tr>
    </table>
    <div class="flex-parent">
        <div id="updated-by">
            <i>Updated By:</i>
            <p id="updateByName">Manila Branch</p>
            <p id="updateByDate">Dec. 22, 2024</p>
        </div>
        <div class="popup-btns flex-parent"> 
            <button class="close-btn" onclick="closeDetails()">CLOSE</button>
            <button id="update-btn">SAVE DETAILS</button>
        </div>
    </div>
</div>

<div id="popup" style="display: none;" name="filterPopup" class="filterPopup">
    <h1 id="orderIdDetails">FILTER OPTIONS</h1>
    <table class="popup-table" id="filter-table">
        <tr class="popup-tr">
            <th class="popup-th"><input type="radio" class="radio-btn" name="filterOptions" value="controlId" checked />By Control ID</th>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th"><input type="radio" class="radio-btn" name="filterOptions" value="hubToHub" />Hub to Hub Selection</th>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th"><input type="radio" class="radio-btn" name="filterOptions" value="daily" />Daily Net</th>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th"><input type="radio" class="radio-btn" name="filterOptions" value="monthly" />Monthly Net</th>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th"><input type="radio" class="radio-btn" name="filterOptions" value="annual" />Annual Net</th>
        </tr>
    </table>
    <div class="popup-btns flex-parent">
        <button class="close-btn" onclick="closeFilter()">CLOSE</button>
        <button class="edit-btn" onclick="selectFilter()">SELECT</button>
    </div>
</div>

<div id="popup" style="display: none;" name="confirmDelPopup" class="confirmDelPopup">
    <h2 id="confirm-msg">Are you sure you want to</h2>
    <h2>delete this order?</h2>
    <input type="hidden" id="delete-orderid" value="random">
    <div class="popup-btns flex-parent">
        <button class="close-btn" id="deleting-order">DELETE</button>
        <button class="edit-btn" onclick="closeConfirm()">CANCEL</button>
    </div>
</div>

<div id="popup" style="display: none;" name="deletedPopup" class="deletedPopup">
    <h2 id="deleted-msg">The order has been deleted.</h2>
    <button class="edit-btn" id="confirm-close-btn" onclick="closeDeleted()">CLOSE</button>
</div>

<script>
    var currentId;
    var filterSelected = "controlId";

    function convertDate(date) {
        var format = "";
        const [month, day, year] = date.split("-"); //mm-dd-yyyy
        if (month && day && year) { //just making sure they are existing (not null)
            format = `${month.padStart(2, '0')}/${day.padStart(2, '0')}/${year}`;
        }

        return format;
    }

    function viewDetails(id)
    {
        currentId = id;
        //alert(currentId);
        var popup = document.getElementsByClassName("detailsPopup");
        if (popup)
                popup[0].style.display = "block";

        var idData = {
            id: id
        }

        $.post('/admin/view-orders/more-details', idData, function (message, status) {
            //console.log(typeof (message.orderDetails.orderId));
            document.getElementById('orderIdDetails').innerHTML = "TRANSACTION #" + message.orderDetails.orderId;
            document.getElementById('itemDetails').innerHTML = message.orderDetails.itemDesc;
            document.getElementById('receiverDetails').innerHTML = message.orderDetails.receiverName;
            document.getElementById('senderDetails').innerHTML = message.orderDetails.senderName;
            document.getElementById('chargeDetails').innerHTML = message.orderDetails.total;
            document.getElementById('edtDetails').innerHTML = convertDate(message.orderDetails.transDate);
            document.getElementById('originDetails').innerHTML = message.orderDetails.originBranch;
            document.getElementById('destDetails').innerHTML = message.orderDetails.destBranch;

            //hidden stuff so I dont have to call database anymore
            document.getElementById('hidden-orderid').value = message.orderDetails.orderId;
            document.getElementById('hidden-edt').value = message.orderDetails.transDate;
            setDateLimit();

            //pre-selected option already, no more default "select option"
            const currentStatus = message.orderDetails.status;
            const htmlOptions = document.getElementById("edit-select");
            for (var option of htmlOptions.options) {
                if (option.value === currentStatus) {
                    option.selected = true;
                    break;
                }
            }

            //provide pre-filled information for eda
            const edaOrder = message.orderDetails.arrivalDate;
            const htmlDate = document.getElementById("dateInput");
            var format = "";
            if (edaOrder === "---") { //if none, get current date + 1 day
                const currentDate = new Date(); 
                currentDate.setDate(currentDate.getDate() + 1);
                format = currentDate.toISOString().split('T')[0];
                
            } else {
                const [month, day, year] = edaOrder.split("-"); //mm-dd-yyyy
                if (month && day && year) { //just making sure they are existing (not null)
                    format = `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`;
                }
            }
            dateInput.value = format;

            //update part
            var branchName;
            if (message.orderDetails.updatedBy === "---") {
                branchName = "No updates yet";
            } else {
                branchName = message.orderDetails.updatedBy + " Branch";
            }

            var dateStr = "";
            if (message.orderDetails.date !== "") {
                var [month, day, year] = message.orderDetails.date.split('-');
                dateStr = toMonthStr(parseInt(month)) + day + ", " + year;
            }
            
            document.getElementById('updateByName').innerHTML = branchName;
            document.getElementById('updateByDate').innerHTML = dateStr;
        });
    }

    function closeDetails()
    {
        var popup = document.getElementsByClassName("detailsPopup");
        if (popup)
            popup[0].style.display = "none";
    }

    function filterOptions()
    {
        var popup = document.getElementsByClassName("filterPopup");
        if (popup)
            popup[0].style.display = "block";
    }

    function selectFilter()
    {
        var controlIdSearch = document.getElementById("controlIdSearch");
        var hubToHubSearch = document.getElementById("hubToHubSearch");
        var dailySearch = document.getElementById("dailySearch");
        var monthlySearch = document.getElementById("monthlySearch");
        var annualSearch = document.getElementById("annualSearch");
        var optionSelected = document.querySelector('input[name=filterOptions]:checked').value;
        filterSelected = optionSelected;

        if (optionSelected == "controlId")
        {
            controlIdSearch.style.display = "block";
            hubToHubSearch.style.display = "none";
            dailySearch.style.display = "none";
            monthlySearch.style.display = "none";
            annualSearch.style.display = "none";
        }
        if (optionSelected == "hubToHub") {
            controlIdSearch.style.display = "none";
            hubToHubSearch.style.display = "block";
            dailySearch.style.display = "none";
            monthlySearch.style.display = "none";
            annualSearch.style.display = "none";
        }
        if (optionSelected == "daily") {
            controlIdSearch.style.display = "none";
            hubToHubSearch.style.display = "none";
            dailySearch.style.display = "block";
            monthlySearch.style.display = "none";
            annualSearch.style.display = "none";
        }
        if (optionSelected == "monthly") {
            controlIdSearch.style.display = "none";
            hubToHubSearch.style.display = "none";
            dailySearch.style.display = "none";
            monthlySearch.style.display = "block";
            annualSearch.style.display = "none";
        }
        if (optionSelected == "annual") {
            controlIdSearch.style.display = "none";
            hubToHubSearch.style.display = "none";
            dailySearch.style.display = "none";
            monthlySearch.style.display = "none";
            annualSearch.style.display = "block";
        }
        closeFilter();
    }

    function closeFilter() {
        var popup = document.getElementsByClassName("filterPopup");
        var testNone = document.getElementById("testNone");
        if (popup)
            popup[0].style.display = "none";
    }

    function dropDownMenu() {
        var x = document.getElementById("links");
        if (x.style.display === "block") {
        x.style.display = "none";
        } else {
        x.style.display = "block";
        }
    }

    function toMonthStr(number) {
        switch (number) {
            case 1:
                return "January ";
            case 2:
                return "February ";
            case 3:
                return "March ";
            case 4:
                return "April ";
            case 5:
                return "May ";
            case 6:
                return "June ";
            case 7:
                return "July ";
            case 8:
                return "August ";
            case 9:
                return "September ";
            case 10:
                return "October ";
            case 11:
                return "November ";
            case 12:
                return "December ";
            default:
                return "Error "; //unlikely but will still put
        }
    }

    function confirmDel(orderId) {
        var popup = document.getElementsByClassName("confirmDelPopup");
        var hidden = document.getElementById("delete-orderid");

        if (popup) {
            popup[0].style.display = "block";
            hidden.value = orderId;
        }
            
    }

    function closeConfirm() {
        var popup = document.getElementsByClassName("confirmDelPopup");
        if (popup)
            popup[0].style.display = "none";
    }

    function closeDeleted() {
        var popup = document.getElementsByClassName("deletedPopup");
        if (popup)
            popup[0].style.display = "none";
    }
</script>