<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>
    <table style="text-align: center;" class="view-table" id="order-popup">
        <tr>
            <td class="popup-td">
                <button class="add-order-btn" onclick="filterOptions()"><i class="material-icons">filter_list</i></button>
            </td>
            <td class="popup-td">
                <div id="controlIdSearch">
                    <input type="text">
                    <button class="add-order-btn"><i class="material-icons">search</i></button>
                </div>
                <div id="hubToHubSearch" style="display: none;">
                    <select name="originSearch">
                        <option value="any">Any</option>
                        <option value="hub1">Hub 1</option>
                        <option value="hub2">Hub 2</option>
                        <option value="hub3">Hub 3</option>
                        <option value="hub4">Hub 4</option>
                    </select>
                     to 
                    <select name="destinationSearch">
                        <option value="any">Any</option>
                        <option value="hub1">Hub 1</option>
                        <option value="hub2">Hub 2</option>
                        <option value="hub3">Hub 3</option>
                        <option value="hub4">Hub 4</option>
                    </select>
                    <button class="add-order-btn"><i class="material-icons">search</i></button>
                </div>
            </td>
            <td class="popup-td"></td>
            <td class="popup-td"></td>
            <td class="popup-td"></td>
            <td class="popup-td">
                <button class="add-order-btn" onclick="window.location.href = '/admin/create-order';">+ Add Order</button>
            </td>
        </tr>
        <tr>
            <th class="popup-th">ControlID</th>
            <th class="popup-th">Sender</th>
            <th class="popup-th">Receiver</th>
            <th class="popup-th">Item Description</th>
            <th class="popup-th">Status</th>
            <th class="popup-th">Actions</th>
        </tr>
        {{#each orders}}
        <tr class="view-tr">
            <td class="popup-td">{{this.orderId}}</td>
            <td class="popup-td">{{this.senderName}}</td>
            <td class="popup-td">{{this.receiverName}}</td>
            <td class="popup-td">{{this.itemDesc}}</td>
            <td class="popup-td">{{this.status}}</td>
            <td class="popup-td">
                <button class="action-btn" onclick="viewDetails('{{this.orderId}}')"><i class="material-icons">remove_red_eye</i></button>
                <a href="/admin/edit-order">
                    <button class="action-btn"><i class="material-icons">create</i></button>
                </a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>

<div id="popup" style="display: none;" name="detailsPopup" class="detailsPopup">
    <h1 id="orderIdDetails">TRANSACTION #test</h1>
    <table class="popup-table">
        <tr class="popup-tr">
            <th class="popup-th">Sender:</th>
            <td class="popup-td" id="senderDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Receiver:</th>
            <td class="popup-td" id="receiverDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Item:</th>
            <td class="popup-td" id="itemDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Charge:</th>
            <td class="popup-td" id="chargeDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Status:</th>
            <td class="popup-td" id="statusDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">EDA:</th>
            <td class="popup-td" id="edaDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Origin Branch:</th>
            <td class="popup-td" id="originDetails"></td>
        </tr>
    </table>
    <div class="flex-parent">
        <div id="updated-by">
            <i>Updated By:</i>
            <p>Manila Branch</p>
            <p>Dec. 22, 2024</p>
        </div>
        <div class="popup-btns flex-parent"> 
            <button class="close-btn" onclick="closeDetails()">CLOSE</button>
            <a id="edit-btn" href="/admin/edit-order">EDIT DETAILS</a>
        </div>
    </div>
</div>

<div id="popup" style="display: none;" name="filterPopup" class="filterPopup">
    <h1 id="orderIdDetails">FILTER OPTIONS</h1>
    <table class="popup-table">
        <tr class="popup-tr">
            <th class="popup-th"><input type="radio" name="filterOptions" value="controlId" checked />By Control ID</th>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th"><input type="radio" name="filterOptions" value="hubToHub" />Hub to Hub Selection</th>
        </tr>
    </table>
    <div class="popup-btns flex-parent">
        <button class="close-btn" onclick="closeFilter()">CLOSE</button>
        <button id="edit-btn" onclick="selectFilter()">SELECT</button>
    </div>
</div>

<script>
    var currentId;
    var filterSelected = "controlId";

    function viewDetails(id)
    {
        currentId = id;
        //alert(currentId);
        var popup = document.getElementsByClassName("detailsPopup");
        if (popup)
                popup[0].style.display = "block";

        var idData = {
            id: id
        }

        $.post('/admin/view-order/more-details', idData, function (message, status) {
            console.log(typeof (message.orderDetails.orderId));
            document.getElementById('orderIdDetails').innerHTML = "TRANSACTION #" + message.orderDetails.orderId;
            document.getElementById('itemDetails').innerHTML = message.orderDetails.itemDesc;
            document.getElementById('receiverDetails').innerHTML = message.orderDetails.receiverName;
            document.getElementById('senderDetails').innerHTML = message.orderDetails.senderName;
            document.getElementById('chargeDetails').innerHTML = message.orderDetails.total;
            document.getElementById('statusDetails').innerHTML = message.orderDetails.status;
            document.getElementById('edaDetails').innerHTML = message.orderDetails.arrivalDate;
            document.getElementById('originDetails').innerHTML = message.orderDetails.originBranch;
        });
    }

    function closeDetails()
    {
        var popup = document.getElementsByClassName("detailsPopup");
        if (popup)
            popup[0].style.display = "none";
    }

    function filterOptions()
    {
        var popup = document.getElementsByClassName("filterPopup");
        if (popup)
            popup[0].style.display = "block";
    }

    function selectFilter()
    {
        var controlIdSearch = document.getElementById("controlIdSearch");
        var hubToHubSearch = document.getElementById("hubToHubSearch");
        var optionSelected = document.querySelector('input[name=filterOptions]:checked').value;
        filterSelected = optionSelected;

        if (optionSelected == "controlId")
        {
            controlIdSearch.style.display = "block";
            hubToHubSearch.style.display = "none";
        }
        else
        {
            hubToHubSearch.style.display = "block";
            controlIdSearch.style.display = "none";
        }
    }

    function closeFilter() {
        var popup = document.getElementsByClassName("filterPopup");
        var testNone = document.getElementById("testNone");
        if (popup)
            popup[0].style.display = "none";
    }
</script>