<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<table id="popup">
    <tr>
        <th>ControlID</th>
        <th>Sender</th>
        <th>Receiver</th>
        <th>Item Description</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
    {{#each orders}}
        <tr>
            <td id="postId">{{this.orderId}}</td>
            <td>{{this.senderName}}</td>
            <td>{{this.receiverName}}</td>
            <td>{{this.itemDesc}}</td>
            <td>{{this.status}}</td>
            <td><button onclick="viewDetails('{{this.orderId}}')">Details</button></td>
        </tr>
    {{/each}}
</table>

<div id="popup" style="display: none;" name="detailsPopup" class="detailsPopup">
    <h1 id="orderIdDetails">TRANSACTION #test</h1>
    <table class="popup-table">
        <tr class="popup-tr">
            <th class="popup-th">Sender:</th>
            <td class="popup-td" id="senderDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Receiver:</th>
            <td class="popup-td" id="receiverDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Item:</th>
            <td class="popup-td" id="itemDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Charge:</th>
            <td class="popup-td" id="chargeDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Status:</th>
            <td class="popup-td" id="statusDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">EDA:</th>
            <td class="popup-td" id="edaDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Origin Branch:</th>
            <td class="popup-td" id="originDetails"></td>
        </tr>
    </table>
    <div class="flex-parent">
        <div id="updated-by">
            <i>Updated By:</i>
            <p>Manila Branch</p>
            <p>Dec. 22, 2024</p>
        </div>
        <div class="popup-btns">
            <button class="close-btn" onclick="closeDetails()">CLOSE</button>
            <button id="edit-btn" onclick="editDetails()">EDIT DETAILS</button>
        </div>
    </div>
</div>

<div id="popup" style="display:none;" name="editPopup" class="editPopup">
    <form onsubmit="saveEdit()">
        <h1 id="orderIdDetailsE">TRANSACTION #test</h1>
        <table class="popup-table">
            <tr class="popup-tr">
                <th class="popup-th">Sender:</th>
                <td class="popup-td" id="senderDetailsE"></td>
            </tr>
            <tr class="popup-tr">
                <th class="popup-th">Receiver:</th>
                <td class="popup-td" id="receiverDetailsE"></td>
            </tr>
            <tr class="popup-tr">
                <th class="popup-th">Item:</th>
                <td class="popup-td" id="itemDetailsE"></td>
            </tr>
            <tr class="popup-tr">
                <th class="popup-th">Charge:</th>
                <td class="popup-td" id="chargeDetailsE"></td>
            </tr>
            <tr>
                <th class="popup-th">Status: </th>
                <td>
                    <select id="newStatus">
                        <option value="PROCESSING">PROCESSING</option>
                        <option value="IN TRANSIT">IN TRANSIT</option>
                        <option value="READY FOR PICKUP">READY FOR PICKUP</option>
                        <option value="DELIVERED">DELIVERED</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="popup-th">EDA: </th>
                <td><input type="date" id="newEDA"></td>
            </tr>
            <tr>
                <th class="popup-th">Origin Branch: </th>
                <td><input type="text" id="newOrigin"></td>
            </tr>
        </table>
        <div class="popup-btns">
            <input type="button" class="close-btn" onclick="closeEdit()" value="CLOSE">
            <input type="submit" id="edit-btn" value="SAVE">
        </div>
    </form>
</div>

<script>
    var currentId;

    function viewDetails(id)
    {
        currentId = id;
        //alert(currentId);
        var popup = document.getElementsByClassName("detailsPopup");
        if (popup)
                popup[0].style.display = "block";

        var idData = {
            id: id
        }

        $.post('/admin/view-order/more-details', idData, function (message, status) {
            console.log(typeof (message.orderDetails.orderId));
            document.getElementById('orderIdDetails').innerHTML = "TRANSACTION #" + message.orderDetails.orderId;
            document.getElementById('itemDetails').innerHTML = message.orderDetails.itemDesc;
            document.getElementById('receiverDetails').innerHTML = message.orderDetails.receiverName;
            document.getElementById('senderDetails').innerHTML = message.orderDetails.senderName;
            document.getElementById('chargeDetails').innerHTML = message.orderDetails.total;
            document.getElementById('statusDetails').innerHTML = message.orderDetails.status;
            document.getElementById('edaDetails').innerHTML = message.orderDetails.arrivalDate;
            document.getElementById('originDetails').innerHTML = message.orderDetails.originBranch;
        });
    }

    function closeDetails()
    {
        var popup = document.getElementsByClassName("detailsPopup");
        if (popup)
            popup[0].style.display = "none";
    }

    function editDetails()
    {
        closeDetails();
        var editPopup = document.getElementsByClassName("editPopup");
        if (editPopup)
            editPopup[0].style.display = "block";

        var idData = {
            id: currentId
        }

        $.post('/admin/view-order/more-details', idData, function (message, status) {
            document.getElementById('orderIdDetailsE').innerHTML = "TRANSACTION #" + message.orderDetails.orderId;
            document.getElementById('itemDetailsE').innerHTML = message.orderDetails.itemDesc;
            document.getElementById('receiverDetailsE').innerHTML = message.orderDetails.receiverName;
            document.getElementById('senderDetailsE').innerHTML = message.orderDetails.senderName;
            document.getElementById('chargeDetailsE').innerHTML = message.orderDetails.total;
        });
    }

    function closeEdit()
    {
        var editPopup = document.getElementsByClassName("editPopup");
        if (editPopup)
            editPopup[0].style.display = "none";
    }

    function saveEdit()
    {
        var newStatus = document.getElementById('newStatus').value;
        var newEDA = document.getElementById('newEDA').value;
        var newOrigin = document.getElementById('newOrigin').value;

        var editData = {
            id: currentId,
            newStatusEdit: newStatus,
            newEDAEdit: newEDA,
            newOriginEdit: newOrigin
        }

        $.post('/admin/edit-order', editData, function (message, status) {
            window.location.reload();
        });
    }
</script>