<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>
    <table style="text-align: center;" class="view-table" id="order-popup">
        <tr>
            <td class="popup-td">
                <button class="add-order-btn"><i class="material-icons">filter_list</i></button>
            </td>
            <td class="popup-td">
                <input type="text">
                <button class="add-order-btn"><i class="material-icons">search</i></button>
            </td>
            <td class="popup-td"></td>
            <td class="popup-td"></td>
            <td class="popup-td"></td>
            <td class="popup-td">
                <button class="add-order-btn" onclick="window.location.href = '/admin/create-order';">+ Add Order</button>
            </td>
        </tr>
        <tr>
            <th class="popup-th">ControlID</th>
            <th class="popup-th">Sender</th>
            <th class="popup-th">Receiver</th>
            <th class="popup-th">Item Description</th>
            <th class="popup-th">Status</th>
            <th class="popup-th">Actions</th>
        </tr>
        {{#each orders}}
        <tr class="view-tr">
            <td class="popup-td">{{this.orderId}}</td>
            <td class="popup-td">{{this.senderName}}</td>
            <td class="popup-td">{{this.receiverName}}</td>
            <td class="popup-td">{{this.itemDesc}}</td>
            <td class="popup-td">{{this.status}}</td>
            <td class="popup-td">
                <button class="action-btn" onclick="viewDetails('{{this.orderId}}')"><i class="material-icons">remove_red_eye</i></button>
                <a href="/admin/edit-order/{{this.orderId}}">
                    <button class="action-btn"><i class="material-icons">create</i></button>
                </a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>

<div id="popup" style="display: none;" name="detailsPopup" class="detailsPopup">
    <h1 id="orderIdDetails">TRANSACTION #test</h1>
    <table class="popup-table">
        <tr class="popup-tr">
            <th class="popup-th">Sender:</th>
            <td class="popup-td" id="senderDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Receiver:</th>
            <td class="popup-td" id="receiverDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Item:</th>
            <td class="popup-td" id="itemDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Charge:</th>
            <td class="popup-td" id="chargeDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Status:</th>
            <td class="popup-td" id="statusDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">EDA:</th>
            <td class="popup-td" id="edaDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Origin Branch:</th>
            <td class="popup-td" id="originDetails"></td>
        </tr>
    </table>
    <div class="flex-parent">
        <div id="updated-by">
            <i>Updated By:</i>
            <p>Manila Branch</p>
            <p>Dec. 22, 2024</p>
        </div>
        <div class="popup-btns flex-parent"> 
            <button class="close-btn" onclick="closeDetails()">CLOSE</button>
            <a id="edit-btn" href="/admin/edit-order">EDIT DETAILS</a>
        </div>
    </div>
</div>

<script>
    var currentId;

    function viewDetails(id)
    {
        currentId = id;
        //alert(currentId);
        var popup = document.getElementsByClassName("detailsPopup");
        if (popup)
                popup[0].style.display = "block";

        var idData = {
            id: id
        }

        $.post('/admin/view-order/more-details', idData, function (message, status) {
            console.log(typeof (message.orderDetails.orderId));
            document.getElementById('orderIdDetails').innerHTML = "TRANSACTION #" + message.orderDetails.orderId;
            document.getElementById('itemDetails').innerHTML = message.orderDetails.itemDesc;
            document.getElementById('receiverDetails').innerHTML = message.orderDetails.receiverName;
            document.getElementById('senderDetails').innerHTML = message.orderDetails.senderName;
            document.getElementById('chargeDetails').innerHTML = message.orderDetails.total;
            document.getElementById('statusDetails').innerHTML = message.orderDetails.status;
            document.getElementById('edaDetails').innerHTML = message.orderDetails.arrivalDate;
            document.getElementById('originDetails').innerHTML = message.orderDetails.originBranch;
        });
    }

    function closeDetails()
    {
        var popup = document.getElementsByClassName("detailsPopup");
        if (popup)
            popup[0].style.display = "none";
    }
</script>