<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>
    <table style="text-align: center;" class="view-table" id="order-popup">
        <tr>
            <td class="popup-td">
                <button class="add-order-btn" onclick="filterOptions()"><i class="material-icons">filter_list</i></button>
            </td>
            <td class="popup-td">
                <div id="controlIdSearch">
                    <form action="/admin/view-orders/control-id">
                        <input type="text" id="controlId" name="controlId" placeholder="Input a control ID eg. A1A2">
                        <button class="add-order-btn"><i class="material-icons">search</i></button>
                    </form>
                </div>
                <div id="hubToHubSearch" style="display: none;">
                    <form action="/admin/view-orders/hub-to-hub">
                        <select id="originSearch" name="originSearch">
                            <option value="Manila">Manila</option>
                            <option value="Romblon">Romblon</option>
                            <option value="Magdiwang">Magdiwang</option>
                            <option value="Cajidiocan">Cajidiocan</option>
                            <option value="San-Fernando">San Fernando</option>
                        </select>
                        to
                        <select id="destSearch" name="destSearch">
                            <option value="Manila">Manila</option>
                            <option value="Romblon">Romblon</option>
                            <option value="Magdiwang">Magdiwang</option>
                            <option value="Cajidiocan">Cajidiocan</option>
                            <option value="San-Fernando">San Fernando</option>
                        </select>
                        <button class="add-order-btn"><i class="material-icons">search</i></button>
                    </form>
                </div>
                <div id="dailySearch" style="display: none;">
                    <form action="/admin/view-orders/daily-net">
                        <input type="text" id="daySearch" name="daySearch" placeholder="date eg. 1-1-2000">
                        <button class="add-order-btn"><i class="material-icons">search</i></button>
                    </form>
                </div>
                <div id="monthlySearch" style="display: none;">
                    <form action="/admin/view-orders/monthly-net">
                        <input type="text" id="monthSearch" name="monthSearch" placeholder="month eg. 1-2000">
                        <button class="add-order-btn"><i class="material-icons">search</i></button>
                    </form>
                </div>
                <div id="annualSearch" style="display: none;">
                    <form action="/admin/view-orders/annual-net">
                        <input type="text" id="yearSearch" name="yearSearch" placeholder="year eg. 2000">
                        <button class="add-order-btn"><i class="material-icons">search</i></button>
                    </form>
                </div>
            </td>
            <td class="popup-td">
                <button class="add-order-btn" onclick="window.location.href = '/admin/view-orders';">VIEW ALL</button>
            </td>
            <td class="popup-td">
                {{#if net}}
                    <p>Net: {{net}}</p>
                {{/if}}
            </td>
            <td class="popup-td"></td>
            <td class="popup-td">
                <button class="add-order-btn" onclick="window.location.href = '/admin/create-order';">+ Add Order</button>
            </td>
        </tr>
        <tr>
            <th class="popup-th">ControlID</th>
            <th class="popup-th">Sender</th>
            <th class="popup-th">Receiver</th>
            <th class="popup-th">Item Description</th>
            <th class="popup-th">Status</th>
            <th class="popup-th">Actions</th>
        </tr>
        {{#each orders}}
        <tr class="view-tr">
            <td class="popup-td">{{this.orderId}}</td>
            <td class="popup-td">{{this.senderName}}</td>
            <td class="popup-td">{{this.receiverName}}</td>
            <td class="popup-td">{{this.itemDesc}}</td>
            <td class="popup-td">{{this.status}}</td>
            <td class="popup-td">
                <button class="action-btn" onclick="viewDetails('{{this.orderId}}')"><i class="material-icons">remove_red_eye</i></button>
                <a href="/admin/edit-order/{{this.orderId}}">
                    <button class="action-btn"><i class="material-icons">create</i></button>
                </a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>

<div id="popup" style="display: none;" name="detailsPopup" class="detailsPopup">
    <h1 id="orderIdDetails">TRANSACTION #test</h1>
    <table class="popup-table">
        <tr class="popup-tr">
            <th class="popup-th">Sender:</th>
            <td class="popup-td" id="senderDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Receiver:</th>
            <td class="popup-td" id="receiverDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Item:</th>
            <td class="popup-td" id="itemDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Charge:</th>
            <td class="popup-td" id="chargeDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Status:</th>
            <td class="popup-td" id="statusDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">EDA:</th>
            <td class="popup-td" id="edaDetails"></td>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th">Origin Branch:</th>
            <td class="popup-td" id="originDetails"></td>
        </tr>
    </table>
    <div class="flex-parent">
        <div id="updated-by">
            <i>Updated By:</i>
            <p>Manila Branch</p>
            <p>Dec. 22, 2024</p>
        </div>
        <div class="popup-btns flex-parent"> 
            <button class="close-btn" onclick="closeDetails()">CLOSE</button>
            <a class="edit-btn" href="/admin/edit-order/{{this.orderId}}">EDIT DETAILS</a>
        </div>
    </div>
</div>

<div id="popup" style="display: none;" name="filterPopup" class="filterPopup">
    <h1 id="orderIdDetails">FILTER OPTIONS</h1>
    <table class="popup-table">
        <tr class="popup-tr">
            <th class="popup-th"><input type="radio" class="radio-btn" name="filterOptions" value="controlId" checked />By Control ID</th>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th"><input type="radio" class="radio-btn" name="filterOptions" value="hubToHub" />Hub to Hub Selection</th>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th"><input type="radio" class="radio-btn" name="filterOptions" value="daily" />Daily Net</th>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th"><input type="radio" class="radio-btn" name="filterOptions" value="monthly" />Monthly Net</th>
        </tr>
        <tr class="popup-tr">
            <th class="popup-th"><input type="radio" class="radio-btn" name="filterOptions" value="annual" />Annual Net</th>
        </tr>
    </table>
    <div class="popup-btns flex-parent">
        <button class="close-btn" onclick="closeFilter()">CLOSE</button>
        <button class="edit-btn" onclick="selectFilter()">SELECT</button>
    </div>
</div>

<script>
    var currentId;
    var filterSelected = "controlId";

    function viewDetails(id)
    {
        currentId = id;
        //alert(currentId);
        var popup = document.getElementsByClassName("detailsPopup");
        if (popup)
                popup[0].style.display = "block";

        var idData = {
            id: id
        }

        $.post('/admin/view-orders/more-details', idData, function (message, status) {
            console.log(typeof (message.orderDetails.orderId));
            document.getElementById('orderIdDetails').innerHTML = "TRANSACTION #" + message.orderDetails.orderId;
            document.getElementById('itemDetails').innerHTML = message.orderDetails.itemDesc;
            document.getElementById('receiverDetails').innerHTML = message.orderDetails.receiverName;
            document.getElementById('senderDetails').innerHTML = message.orderDetails.senderName;
            document.getElementById('chargeDetails').innerHTML = message.orderDetails.total;
            document.getElementById('statusDetails').innerHTML = message.orderDetails.status;
            document.getElementById('edaDetails').innerHTML = message.orderDetails.arrivalDate;
            document.getElementById('originDetails').innerHTML = message.orderDetails.originBranch;
        });
    }

    function closeDetails()
    {
        var popup = document.getElementsByClassName("detailsPopup");
        if (popup)
            popup[0].style.display = "none";
    }

    function filterOptions()
    {
        var popup = document.getElementsByClassName("filterPopup");
        if (popup)
            popup[0].style.display = "block";
    }

    function selectFilter()
    {
        var controlIdSearch = document.getElementById("controlIdSearch");
        var hubToHubSearch = document.getElementById("hubToHubSearch");
        var dailySearch = document.getElementById("dailySearch");
        var monthlySearch = document.getElementById("monthlySearch");
        var annualSearch = document.getElementById("annualSearch");
        var optionSelected = document.querySelector('input[name=filterOptions]:checked').value;
        filterSelected = optionSelected;

        if (optionSelected == "controlId")
        {
            controlIdSearch.style.display = "block";
            hubToHubSearch.style.display = "none";
            dailySearch.style.display = "none";
            monthlySearch.style.display = "none";
            annualSearch.style.display = "none";
        }
        if (optionSelected == "hubToHub") {
            controlIdSearch.style.display = "none";
            hubToHubSearch.style.display = "block";
            dailySearch.style.display = "none";
            monthlySearch.style.display = "none";
            annualSearch.style.display = "none";
        }
        if (optionSelected == "daily") {
            controlIdSearch.style.display = "none";
            hubToHubSearch.style.display = "none";
            dailySearch.style.display = "block";
            monthlySearch.style.display = "none";
            annualSearch.style.display = "none";
        }
        if (optionSelected == "monthly") {
            controlIdSearch.style.display = "none";
            hubToHubSearch.style.display = "none";
            dailySearch.style.display = "none";
            monthlySearch.style.display = "block";
            annualSearch.style.display = "none";
        }
        if (optionSelected == "annual") {
            controlIdSearch.style.display = "none";
            hubToHubSearch.style.display = "none";
            dailySearch.style.display = "none";
            monthlySearch.style.display = "none";
            annualSearch.style.display = "block";
        }
    }

    function closeFilter() {
        var popup = document.getElementsByClassName("filterPopup");
        var testNone = document.getElementById("testNone");
        if (popup)
            popup[0].style.display = "none";
    }

    function dropDownMenu() {
        var x = document.getElementById("links");
        if (x.style.display === "block") {
        x.style.display = "none";
        } else {
        x.style.display = "block";
        }
    }
</script>